doctype html
html
    head
        title Hej
    body
        table
            thead
                tr
                    th Køn
                    th Navn
                    th Email
                    th Alder
                    th Telefon
                    th Billede
            tbody
                each user in users.results
                    tr
                        td #{user.gender}
                        td #{user.name.title} #{user.name.first} #{user.name.last}
                        td #{user.email}
                        td #{user.dob.age}
                        td #{user.phone}
                        
                            
